<!doctype html>
<!-- Stay Golden, Ponyboy -->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ENEM Creative is a design and marketing studio duo that creates and builds brands through beautiful design on a foundation of solid strategy." />
    <meta name="keywords" content="graphic design, brand identity, website design, marketing, logos, web development"/>
    <title><%= current_page.data.title || "Enem Creative" %></title>


    <%= stylesheet_link_tag "main" %>
    
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-69973319-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-69973319-1');
</script>

  </head>
  <body>
    <%= partial "header" %>
    <%= yield %>
    <%= partial "footer" %>

<!-- Load some Magic -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/plugins/EaselPlugin.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/ScrollMagic.js"></script>
<script src="/scrollmagic/plugins/animation.gsap.min.js"></script>
<script src="../gsap/plugins/ScrollToPlugin.min.js"></script>
<%= javascript_include_tag "site" %>

  </body>
</html>
