--- 
layout: "default" 
---
<!-- Hero -->
<div class="wrap container-fluid">
  <div class="container">
    <div class="hero">
      <div class="row content-hero">
        <div class="col-md-6 col-sm-6 padfixleft border-overflow">
          <div class="borderFour"></div>
          <h1 class="hero-one header-fade"> We're a design and marketing duo in the windy city.</h1>
        </div>
        <div class="col-md-6 col-sm-6 view-work padfixright border-overflow">
          <div class="borderTwo"></div>
            <div class="view">
              <h5 class="hero-two viewprojects">View Work</h5>
              <div class="borderView view-work"></div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Hero Break -->
<div class="wrap container-fluid beige">
  <div class="container">
    <div class="row beige">
      <div class="col-sm-6 intro">
        <h3>we're changing the perception of businesses with thought provoking design.</h3>
      </div>
    </div>
  </div>
</div>

<div class="wrap container-fluid work">
  <section class="portfolio-list">

    <!-- WSB  -->
    <div class="row portfolio-row thumb thumb-hover">
      <div class="col-sm-6 col-xs-10 thumb">
        <div class="project-active">
          <div class="col-xs-offset-1 col-xs-10">
            <div class="proj-active-container">
              <div class="thumb-border"></div>
              <h1 class="text-white project-text-fade"> Wabi Sabi Beauty</h1>
            </div>
          </div>
        </div>
        <img src="/images/thumbs/wsb-thumb.jpg" class="background-grow">
      </div>
      <div class="col-sm-6 col-xs-2 thumb view-reverse">
        <h5 class="viewright thumb-hover">
          <div class="top-border"></div>
          <%= link_to 'VIEW', '/portfolio/wabi-sabi-beauty' %>
      </div>
      </a>
      </h5>
    </div>
    <!-- Marchetti Beauty  -->
    <div class="row portfolio-row thumb-hover">
      <div class="col-sm-6 col-xs-2 thumb view">
        <h5 class="viewleft thumb-hover">
          <div class="top-border"></div>
          <%= link_to 'VIEW', '/portfolio/marchetti-beauty' %>
        </h5>
      </div>
      <div class="col-sm-6 col-xs-10 thumb">
        <div class="project-active">
          <div class="col-xs-offset-1 col-xs-10">
            <div class="proj-active-container">
              <div class="thumb-border"></div>
              <h1 class="text-white project-text-fade"> Marchetti Beauty </h1>
            </div>
          </div>
        </div>
        <img src="/images/thumbs/marchetti-thumb.jpg" class="background-grow">
      </div>
    </div>

    <!-- William Pacholski  -->
    <div class="row portfolio-row thumb-hover">
      <div class="col-sm-6 col-xs-10 thumb">
        <div class="project-active">
          <div class="col-xs-offset-1 col-xs-10">
            <div class="proj-active-container">
              <div class="thumb-border"></div>
              <h1 class="text-white project-text-fade"> William Pachoslki</h1>
            </div>
          </div>
        </div>
        <img src="/images/thumbs/wp-thumb.jpg" class="background-grow">
      </div>
      <div class="col-sm-6 col-xs-2 thumb view-reverse">
        <h5 class="viewright thumb-hover">
          <div class="top-border"></div>
          <%= link_to 'VIEW', '/portfolio/william-pacholski' %>
      </div>
      </a>
      </h5>
    </div>



    <!-- BOD Creative  -->
    <div class="row portfolio-row thumb-hover">
      <div class="col-sm-6 col-xs-2 thumb view">
        <h5 class="viewleft thumb-hover">
          <div class="top-border"></div>
          <%= link_to 'VIEW', '/portfolio/bod-creative' %>
        </h5>
      </div>
      <div class="col-sm-6 col-xs-10 thumb">
        <div class="project-active">
          <div class="col-xs-offset-1 col-xs-10">
            <div class="proj-active-container">
              <div class="thumb-border"></div>
              <h1 class="text-white project-text-fade"> BOD Creative </h1>
            </div>
          </div>
        </div>
        <img src="/images/thumbs/bod-thumb.jpg" class="background-grow">
      </div>
    </div>



    <!-- CSPIRE  -->
    <div class="row portfolio-row thumb-hover">
      <div class="col-sm-6 col-xs-10 thumb">

        <div class="project-active">
          <div class="col-xs-offset-1 col-xs-10">
            <div class="proj-active-container">
              <div class="thumb-border"></div>
              <h1 class="text-white project-text-fade"> CSpire </h1>
            </div>
          </div>
        </div>

        <img src="/images/thumbs/cspire-thumb.jpg" class="background-grow">
      </div>
      <div class="col-sm-6 col-xs-2 thumb view-reverse">
        <h5 class="viewright">
          <div class="top-border"></div>
          <a href="{% post_url 2015-05-28-samsung-cspire %}">
            <%= link_to 'VIEW', '/portfolio/samsung-cspire' %>
        </h5>
      </div>
    </div>



    <!-- FedEx  -->
    <div class="row portfolio-row thumb-hover">
      <div class="col-sm-6 col-xs-2 thumb view">
        <h5 class="viewleft">
          <div class="top-border"></div>
          <%= link_to 'VIEW', '/portfolio/fedex-annual-report' %>
        </h5>
      </div>
      <div class="col-sm-6 col-xs-10 thumb">
        <div class="project-active">
          <div class="col-xs-offset-1 col-xs-10">
            <div class="proj-active-container">
              <div class="thumb-border"></div>
              <h1 class="text-white project-text-fade"> FedEx Annual Report</h1>
            </div>
          </div>
        </div>

        <img src="/images/thumbs/fedex-thumb.jpg" class="background-grow">
      </div>
    </div>




    <!-- Milk Sout  -->
    <div class="row portfolio-row thumb-hover">
      <div class="col-sm-6 col-xs-10 thumb">

        <div class="project-active">
          <div class="col-xs-offset-1 col-xs-10">
            <div class="proj-active-container">
              <div class="thumb-border"></div>
              <h1 class="text-white project-text-fade"> Milk Stout Beer Packaging</h1>
            </div>
          </div>
        </div>

        <img src="/images/thumbs/milk-thumb.jpg" class="background-grow">
      </div>
      <div class="col-sm-6 col-xs-2 thumb view-reverse">
        <h5 class="viewright">
          <div class="top-border"></div>
          <%= link_to 'VIEW', '/portfolio/milk-stout' %>
        </h5>
      </div>
    </div>

    <!-- Selected Logos  -->
    <div class="row portfolio-row thumb-hover">
      <div class="col-sm-6 col-xs-2 thumb view">
        <h5 class="viewleft">
          <div class="top-border"></div>
          <%= link_to 'VIEW', '/portfolio/selected-logos' %>
        </h5>
      </div>

      <div class="col-sm-6 col-xs-10 thumb">
        <div class="project-active">
          <div class="col-xs-offset-1 col-xs-10">
            <div class="proj-active-container">
              <div class="thumb-border"></div>
              <h1 class="text-white project-text-fade"> Selected Logos </h1>
            </div>
          </div>
        </div>
         <img src="/images/thumbs/logos-thumb.jpg" class="background-grow">
      </div>
    </div>

      <!-- Vellabox -->
   <div class="row portfolio-row thumb-hover">
      <div class="col-sm-6 col-xs-10 thumb">

        <div class="project-active">
          <div class="col-xs-offset-1 col-xs-10">
            <div class="proj-active-container">
              <div class="thumb-border"></div>
              <h1 class="text-white project-text-fade"> Vellabox</h1>
            </div>
          </div>
        </div>

        <img src="/images/thumbs/vellabox-thumb.jpg" class="background-grow">
      </div>
      <div class="col-sm-6 col-xs-2 thumb view-reverse">
        <h5 class="viewright">
          <div class="top-border"></div>
          <%= link_to 'VIEW', '/portfolio/vellabox' %>
        </h5>
      </div>
    </div>