--- 
layout: "default" 
---
<!-- Hero -->
<div class="wrap container-fluid">
<div class="container">
  <div class="hero">
      <div class="row content-hero">
        <div class="col-md-6 col-sm-6 padfixleft border-overflow">
          <div class="borderFour"></div>
          <h1 class="hero-one header-fade"> We're a design and marketing duo in the windy city.</h1>
        </div>
        <div class="col-md-6 col-sm-6 padfixright border-overflow">
          <div class="borderTwo"></div>
          <div class="view">
            <h5 class="hero-two">View Work</h5>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Hero Break -->
<div class="wrap container-fluid beige">
  <div class="row beige">
    <div class="col-sm-6 intro">
      <h3>and we’re here to show you what you might not see, and we learn from you on what we do not know.</h3>
    </div>
  </div>
</div>

<div class="wrap container-fluid">
  <section class="portfolio">


    <!-- Marchetti Beauty  -->
    <div class="row thumb-hover">
      <div class="col-sm-6 thumb">
        <h5 class="viewleft thumb-hover">
          <div class="top-border"></div><%= link_to 'VIEW', '/portfolio/marchetti-beauty' %></h5>
      </div>
      <div class="col-sm-6 thumb">
        <div class="project-active">
          <div class="col-xs-offset-2 col-xs-8">
            <div class="proj-active-container">
              <div class="thumb-border"></div>
              <h1 class="text-white project-text-fade"> Marchetti Beauty </h1>
            </div>
          </div>
        </div>
        <img src="/images/marchetti-thumb.jpg" class="background-grow">
      </div>
    </div>

    <!-- William Pacholski  -->
    <div class="row thumb-hover">
      <div class="col-sm-6 thumb">
        <div class="project-active">
          <div class="col-xs-offset-2 col-xs-8">
            <div class="proj-active-container">
              <div class="thumb-border"></div>
              <h1 class="text-white project-text-fade"> William Pachoslki</h1>
            </div>
          </div>
        </div>
        <img src="/images/billy.jpg" class="background-grow">
      </div>
      <div class="col-sm-6 thumb">
        <h5 class="viewright thumb-hover">
            <div class="top-border"></div><%= link_to 'VIEW', '/portfolio/william-pacholski' %></div>
      </a>
      </h5>
    </div>



    <!-- BOD Creative  -->
    <div class="row thumb-hover">
      <div class="col-sm-6 thumb">
        <h5 class="viewleft thumb-hover">
          <div class="top-border"></div>
          <%= link_to 'VIEW', '/portfolio/bod-creative' %>
          </h5>
      </div>
      <div class="col-sm-6 thumb">
        <div class="project-active">
          <div class="col-xs-offset-2 col-xs-8">
            <div class="proj-active-container">
              <div class="thumb-border"></div>
              <h1 class="text-white project-text-fade"> BOD Creative </h1>
            </div>
          </div>
        </div>
        <img src="/images/bod.jpg" class="background-grow">
      </div>
    </div>



    <!-- CSPIRE  -->
    <div class="row thumb-hover">
      <div class="col-sm-6 thumb">

        <div class="project-active">
          <div class="col-xs-offset-2 col-xs-8">
            <div class="proj-active-container">
              <div class="thumb-border"></div>
              <h1 class="text-white project-text-fade"> CSpire </h1>
            </div>
          </div>
        </div>

        <img src="/images/cspire.jpg" class="background-grow">
      </div>
      <div class="col-sm-6 thumb">
        <h5 class="viewright">
          <a href="{% post_url 2015-05-28-samsung-cspire %}">
            <%= link_to 'VIEW', '/portfolio/samsung-cspire' %>
      </h5>
    </div>



    <!-- FedEx  -->
    <div class="row thumb-hover">
      <div class="col-sm-6 thumb">
        <h5 class="viewleft">
          <div class="top-border"></div>
            <%= link_to 'VIEW', '/portfolio/fedex-annual-report' %>
          </h5>
      </div>
      <div class="col-sm-6 thumb">

        <div class="project-active">
          <div class="col-xs-offset-2 col-xs-8">
            <div class="proj-active-container">
              <div class="thumb-border"></div>
              <h1 class="text-white project-text-fade"> FedEx Annual Report</h1>
            </div>
          </div>
        </div>

        <img src="/images/fedex.jpg" class="background-grow">
      </div>
    </div>




    <!-- Milk Sout  -->
    <div class="row thumb-hover">
      <div class="col-sm-6 thumb">

        <div class="project-active">
          <div class="col-xs-offset-2 col-xs-8">
            <div class="proj-active-container">
              <div class="thumb-border"></div>
              <h1 class="text-white project-text-fade"> Milk Stout Beer Packaging</h1>
            </div>
          </div>
        </div>

        <img src="/images/ms.jpg" class="background-grow">
      </div>
      <div class="col-sm-6 thumb">

        <h5 class="viewright">
          <div class="top-border"></div>
          <%= link_to 'VIEW', '/portfolio/milk-stout' %>
          </h5>
      </div>
    </div>




    <!-- SAOR  -->
    <div class="row thumb-hover">
      <div class="col-sm-6 thumb">

        <h5 class="viewleft">
          <div class="top-border"></div>
            <%= link_to 'VIEW', '/portfolio/saor-perfume' %>
          </h5>
      </div>
      <div class="col-sm-6 thumb">

        <div class="project-active">
          <div class="col-xs-offset-2 col-xs-8">
            <div class="proj-active-container">
              <div class="thumb-border"></div>
              <h1 class="text-white project-text-fade"> SAOR Perfume </h1>
            </div>
          </div>
        </div>

        <img src="/images/saor.jpg" class="background-grow">
      </div>
    </div>




    <!-- Vellabox -->
    <div class="row">
      <div class="col-sm-6 thumb">
        <img src="/images/vellabox.jpg" class="background-grow">
      </div>
      <div class="col-sm-6 thumb">
        <h5 class="viewright">
          <div class="top-border"></div>
          <%= link_to 'VIEW', '/portfolio/vellabox' %>
          </h5>
      </div>
    </div>
